body
{
	background-color: #ffffff;
	color: #000000;
	margin:0;
    text-indent: 2px;
}
h1, h2, h3, h4, h5, h6 {font-family: sans-serif; color: black}
p{text-indent: 15px;}
#footer1{background-color: black; color: white; 
    text-align: center; font-size: small;}